<div class="container">
  <section class="py-8 px-4 xl:px-0 grid gap-8 place-items-center lg:grid-cols-2">
    <div class="order-1 lg:order-none">
      <h1 class="font-black text-5xl lg:text-6xl xl:text-9xl mb-8 text-teal-700">Welcome to our world!</h1>

      <p class="text-lg lg:text-2xl xl:text-4xl lg:leading-10 text-gray-500">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
        praesentium nostrum est provident, asperiores repellendus, numquam
        reiciendis repellat maxime obcaecati laboriosam explicabo iusto culpa
        veritatis voluptatum iure ducimus! Atque, adipisci?
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <img class="rounded-lg col-span-2 aspect-video object-cover object-center" loading="lazy" src="https://picsum.photos/1200" alt="" />
      <img class="rounded-lg object-cover object-center" src="https://picsum.photos/1000" loading="lazy" alt="" />
      <img class="rounded-lg object-cover object-center" src="https://picsum.photos/1100" loading="lazy" alt="" />
    </div>
  </section>
</div>
