<section class="flex lg:flex-row flex-col px-8 md:px-0 lg:items-center gap-8 lg:h-[400px]">
  <div class="relative lg:h-full">
    <img
      class="lg:h-full aspect-video lg:aspect-auto w-full rounded-lg object-cover object-center"
      src="https://picsum.photos/500"
      loading="lazy"
      alt="Fresher recieption 2021 Thumbnail"
    />
    <div
      class="absolute flex items-center gap-2 rounded-lg bg-white -left-4 -bottom-4 p-4 shadow-lg border border-gray-100 whitespace-nowrap"
    >
    <i class="fa-light fa-clock animate-spin"></i><time>April 24, 2022</time>
    </div>
  </div>
  <div>
    <div class="mb-8">
      <h3 class="font-black text-3xl mb-4">Fresher recieption 2021</h3>
      <div class="text-gray-500 prose">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam eius
        mollitia tenetur sed deleniti voluptate qui voluptatum perferendis eos
        nemo? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam eius
        mollitia tenetur sed deleniti voluptate qui voluptatum perferendis eos
        nemo?
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam eius
        mollitia tenetur sed deleniti voluptate qui voluptatum perferendis eos
        nemo? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam eius
        mollitia tenetur sed deleniti voluptate qui voluptatum perferendis eos
        nemo?
        </p>
      </div>
    </div>
    <button class="text-teal-600 font-bold underline" type="button">view details</button>
  </div>
</section>
